@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 1
   
   Author:   
   Date:     
   
   Filename: gp_print.css

   This file contains the printer styles used with the sample
   comic book pages from Golden Pulps.

*/



/* Hidden Objects */
nav, footer, article{
   display: none;
}






/* Comic Book Sheet Styles */
section.panel{
   width: 6in;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: auto;
   margin-right: auto;
}
.size1{
   width: 5in;
}
.size2{
   width: 3im;
}
.size3{
   width: 2in;
}
.size4{
   width: 1.5in;
}









